body {
	overflow-x: hidden;
	margin: 0;
}

#banner1 {
	display: block;
	background-color: #315439;
	height: 50px;
	width: 100%;
}

#banner1 h2 {
	position: relative;
	font-weight: bold;
	font-size: 30px;
	top: 10px;
	margin: 0;
	text-align: center;
}

#menu {
	min-width: 500px;
	width: 100%;
	height: 100px;
	position: relative;
	background-color: #72B381;
}

#menu ul {
	float: left;
	left: 50%;
	position: relative;
	padding-top: 15px;
	margin-left: -60px;
}

#menu ul li {
	margin-left: 30px;
	float: left;
	list-style-type: none;
	position: relative;
	left: -50%;
}

#menu ul li a {
	padding-top: 10px;
	text-align: center;
	display: inline-block;
	background-color: #315439;
	height: 30px;
	width: 100px;
	color: black;
	text-decoration: none;
	
}

#menu ul li a:hover {
	color: white;
	background-color:#93F6A9;
}

#banner2 {
	display: block;
	background-color: #315439;
	height: 50px;
	width: 100%;
}

#banner2 p {
	position: relative;
	font-size: 20px;
	top: 10px;
	margin: 0;
	text-align: center;
}

#contenuprincipal {
	display: block;
	width: 90%;
	margin: auto;
}

}

#footeur {
	text-align: center;
	display: block;
	background-color: #315439;
	height: 60px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#footeur p {
	color: black;
	font-weight: bold;
	position: relative;
	top: 0px;
}








